@charset "shift_jis";

/*全てのIEに適用*/


*{
	margin:0;
	padding:0;
}

/*html,body,#tate、この3つにheight:100%,90%を指定してやることで、高さ100％の中に高さ90%のボックスができる*/

html{
    height:100%;
}

/*bodyの中にフォント設定をし、要望によって変更*/

body    {
	height:90%;
        direction:rtl;
	margin:30px 30px 20px 20px;
	font-family: "教科書体","ＭＳ ゴシック",sans-serif; 
font:120%;
}


/*ie7用バグ対策*/

*html body div.tate {
	margin:0px 0px 0px 0px;
 }


div.tate     {
	direction:ltr;
	writing-mode:tb-rl;
 	height:90%;
	width:100%;
	position:relative;
	min-height: 100%;
	min-width: 100%;
	line-height:2.6em; /*適時修正*/
	letter-spacing:0.1em; /*適時修正*/
}


/*バグ対策*/

body > .tate {
        height: auto;

}

/* ie7のときに横スクロールを自動でさせるための設定*/

div#honbun{
   	padding-right:20px;
	height: 100%;
	float:left;

}

/*非表示にする見出し（ページ数と最初のセンテンス）。場合によって、クラス名等変更*/

.kage	{
	display:none;
}

a	{
	text-decoration: none;
}


/*縦列の並びを整える*/
/*paddingは、ルビ用ハイライトの調整、修正可*/

span    {
        vertical-align:text-bottom ;
	position:relative;
	padding:0.2em 0.2em 0.2em 0;
}

h2{display:none}
span.page-normal{display:none}
