/*
 * Parameters injected by dtbook-to-pef.convert:
 * - $page-width
 * - $page-height
 * - $levels-in-footer
 * - $hyphenation
 * - $line-spacing
 */

@page {
	size: $page-width $page-height;
}

#generated-document-toc {
	flow: document-toc;
	display: -obfl-toc;
	-obfl-toc-range: document;
}

#generated-volume-toc {
	flow: volume-toc;
	display: -obfl-toc;
	-obfl-toc-range: volume;
}

@for $level from 1 through 6 {
	@if $levels-in-footer >= $level {
		h#{$level} {
			string-set: footer content();
		}
	}
}

@if $hyphenation {
	:root {
		hyphens: auto;
	}
}

@if $line-spacing == double {
	:root {
		line-height: 2;
	}
}
