<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
   
  <appender name="TEST_LOG" class="ch.qos.logback.core.FileAppender">
    <file>target/test.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!--
      Not using org.daisy.pipeline.logging.EventBusAppender because requires OSGi context which
      isn't always available (because of pax-exam-container-forked?). Also because in XProcSpec
      there is no concept of jobs. Instead just appending to console directly.
  -->
  <appender name="TO_EVENTBUS" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="org.daisy.pipeline.logging.ThresholdFilter">
      <rootLevel>INFO</rootLevel>
      <loggerLevels>
        cz.vutbr.web=WARN
        org.daisy.common.xproc.calabash.steps.Message=WARN
        com.xmlcalabash.runtime.XAtomicStep=WARN
      </loggerLevels>
    </filter>
    <encoder class="org.daisy.maven.xproc.pipeline.logging.ProgressMessageEncoder">
      <pattern>    | %-5level | %msg%n</pattern>
      <includeProgress>false</includeProgress>
    </encoder>
  </appender>
  
  <appender name="FROM_EVENTBUS" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="org.daisy.maven.xproc.pipeline.logging.ProgressMessageEncoder">
      <pattern>    | %-5level | %msg%n</pattern>
      <includeProgress>false</includeProgress>
    </encoder>
  </appender>
  
  <logger name="org.daisy.maven.xproc.pipeline.MessageEventListener" level="INFO" additivity="false">
    <appender-ref ref="FROM_EVENTBUS"/>
  </logger>
  
  <logger name="org.daisy" level="DEBUG"/>
  <logger name="com.xmlcalabash" level="DEBUG"/>
  
  <root level="WARN">
    <appender-ref ref="TEST_LOG"/>
    <appender-ref ref="TO_EVENTBUS"/>
  </root>
  
</configuration>
